* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  color: #000;
  padding: 2rem 0;
  background: #ecf0f3 url("./img/background4.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.App h1 {
  padding: 1rem;
  font-size: 3rem;
  color: #fff;
  text-shadow: #000 0px 0px 10px;
}

/* LOGO */
.logo {
  transform: translateY(10px);
  border-radius: 50%;
  background-color: #fff;
}

/* BUTTON */
.btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  color: #000;
  text-align: center;
  background-color: #ffcc00;
  transition: all 0.5s;
  cursor: url("img/logo32.png"), auto;
}

.btn:hover {
  background-color: #ffcc00aa;
}

.btn:active {
  background-color: #ffcc0099;
  transform: scale(0.98);
}

.btn.recipe-btn {
  margin-bottom: 1rem;
  width: 90%;
}

/* ALERT */
.alert {
  color: red;
}

/* SEARCH FORM */
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fa-search {
  left: 0;
}

.search-bar {
  width: 45%;
  padding: 10px 30px;
  margin: 3rem 0;
  background-color: white;
  color: #000;
  font-size: 1.4rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

.search-button {
  padding: 1px;
}

/* RECIPE */
.recipe-container {
  width: 80% !important;
  margin: auto;
}

.recipe {
  margin: auto;
  height: 100%;
  padding: 0.5rem;
  border-radius: 1.2rem;
  background-color: #ecf0f3;
}

.recipe-title {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  height: 4.5rem;
  margin: 1rem 0;
  text-transform: uppercase;
}

.recipe img {
  width: 94%;
  border-radius: 1.2rem;
  margin: 0.5rem 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  transition: all 0.5s;
}

.recipe img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.recipe img:active {
  transform: scale(0.99);
}

/* RECIPE DETAILS */
.ingredients-list {
  list-style: none;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 640px) {
  .search-bar {
    width: 60%;
  }

  .App h1 {
    font-size: 2rem;
  }
}
